.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -7rem;
}

.footer img {
  position: static;
  object-fit: none;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.f-content {
  position: absolute;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
  color: white;
}
.f-icons {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 480px){
  .f-content{
    transform: scale(.5);
    color: black;
  }
  .footer img {
    display: none;
  }
  .f-icons {
    display: none;
  }
}
